/app/assets/bower
/bootstrap/compiled.php
/public/packages
/vendor
/fireshell
/node_modules
/visualPHPUnit
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/*.tags
/ctags.exe
/.tags_sorted_by_file
/.sass-cache/dad9f0f8ec24420b6d649da51be4341f22092a72
